.board {
  display: flex;
  flex-flow: wrap;
}

.card {
  width: 25%;
}

.picDiv {
  display: flex;
  justify-content: center;
}

.picDiv img {
  display: flex;
  justify-self: center;
  border-radius: 50% 75%;
}
.nameDiv {
  display: flex;
  justify-content: center;
}

.emailDiv {
  display: flex;
  justify-content: center;
}

.emailDiv p {
  color: rgb(0, 4, 255);
}

.streetDiv {
  display: flex;
  justify-content: center;
}

.cityStateZipDiv{
    display: flex;
    justify-content: center;
}

.dobDiv{
  display: flex;
  justify-content: center;
}
.customerSinceDiv{
  display: flex;
  justify-content: center;
}